body {
  background-color: #bbb;
}

td.u {
  background-color: #ccc;
}

td.e {
  background-color: #007f7f;
}

td.s {
  background-color: #7f7f7f;
}

td.m {
  background-image: url("splash.png");
}

td.h {
  background-image: url("burn.png");
}

td.w {
  background-image: url("sunk.png");
}

td.c {
  background-image: url("buoy.png");
}

td.f {
  background-image: url("expl.png");
}

.win,.lose {
  font-weight: bold;
  color: rgb(240,32,32);
}

.pl { 
  color: #005f5f;
  border-color: #000;
}