* {
  border-collapse: collapse;
  font-family: Arial,sans-serif;
}

table#general td {
  padding: 0.5em;
  text-align: center;
}

td#primary td,td#tracking td {
  width: 20px;
  height: 20px;
  border: 1px solid;
}