* {
  border-collapse: collapse;
  font-family: Arial,sans-serif;
}

table.board {
  text-align: center;
  margin: 0 auto;
}

table.board td {
  width: 30px;
  height: 30px;
  border: 1px solid;
  padding: 0;
}

td {
  padding: 0.7em 2.5em;
  text-align: center;
}



table#general {
  width: 100%;
  text-align: center;
}

